
/images/slowdown.pdf
/images/speedup.pdf
/report.aux
/report.log
/report.out
/report.pdf
/report.toc
/report.txt

/presentation.aux
/presentation.log
/presentation.out
/presentation.pdf
/presentation.toc
/presentation.nav
/presentation.snm
/presentation.vrb
